/*
Cómo ordenar los estilos

Una manera de hacerlo es según su propósito. Siguiendo el siguiente orden:

Posicionamiento
Modelo de caja
Tipografía
Visuales
Otros

*/
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    /*Estas cosas son variables*/
  }
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.BarraNavegavion{

    padding: 20px;
    display: flex;
    border-bottom: 1px solid var(--very-light-pink);
    align-items: center;
    justify-content: space-between;
    margin: 1px solid var(--black);            
}

.MenuIcon{
    display: none;
    cursor: pointer;
    
}

.Logo{
    width: 150px;
    height: auto;
}

.NavBarLeft, .NavBarRight{
    display: flex;
}

.NavBarRight li{
    display: flex;
    padding: 10px;
}


.NavBarLeft ul, .NavBarRight ul{
    
    display:flex;
    align-items: center;
    list-style: none;  
}

.NavBarLeft ul li a, .NavBarRight ul li a{
    
    padding: 10px;
    color: brown;
    text-decoration: none;
    border: 1px solid white;


}

.NavBarLeft ul li a:hover, .NavBarRight ul li a:hover{
    
    color: brown;
    text-decoration: none;
    border: 1px solid brown;
    font-weight: bolder;border-radius: 10px;

}


.NavBarEmail{
    color: var(--black);
    font-size: var(--sm);
    /*cursor: pointer; >> Esto también serviría en ves del hover*/
    user-select: none; /* Para evitar que el texto se seleccione*/
}

.NavBarEmail:hover{
    cursor: pointer;
}


.ShoppingCarNavBar{
    position: relative;
    cursor: pointer;


}


.ShoppingCarNavBar div{
    width: 20px;
    height: 20px;

    top: -2px;
    right: -2px;
    text-align: center;
    position: absolute;
    font-size: var(--sm);
    background-color: red;
    border-radius: 50%;


}

.ShoppingCarNavBarIcon{
    width: 30px;
}




/*Aquí empiezan los estilos para el menú desktop*/

.MenuInactive{
    display: none;
}

.DesktopMenucontainer{

    position: absolute;
    top: 120px;
    right: 30px;
    width: 150px;
    height: auto;
    padding: 20px 20px 0px 20px;
    border: 1px solid brown;
    border-radius: 10px;
    background: var(--white);
}

.DesktopMenucontainer ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.DesktopMenucontainer ul li{
    text-align: right;
}

.DesktopMenucontainer ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid brown;
}

.DesktopMenucontainer ul li:last-child a{
    color: brown;
    font-size: var(--sm);
}
.DesktopMenucontainer ul li a {

    margin-bottom: 20px;
    color: var(--black);
    font-size: var(--lg);
    display: inline-block;
    font-weight: bolder;
}
/*Aquí Finalizan los estilos para el menú desktop*/


/*Aquí Inician los estilos para el menú movil*/
.TittleMenuMobile{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.TittleMenuMobile img{

    transform: rotate(180deg);
    width: 38px;
    height: 38px;
    margin-left: 0px;
}

.TittleMenuMobile img:hover, .TittleMenuMobile h1:hover{
    cursor: pointer;
}

.TittleMenuMobile h1{
    text-align: center;
    font-size: var(--sm);
    margin-bottom: 17px;
}

.MobileMenu{
    position: absolute;
    background: var(--white);
    left: 0;
    top: 124px;
    width: 100%;

}

.MobileMenu a{
            
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;

}

.MobileMenu ul{
    padding: 10px;
    margin: 24px 0px 0px 0px;
    list-style: none;
}

.MobileMenu ul li{
    margin-bottom: 10px;

}

.MobileMenu .Email{
    font-size: var(--sm);
    font-weight: bold !important;
    color: brown !important;
}

.MobileMenu ul:nth-child(2){
    border-bottom: 1px solid var(--very-light-pink);
}

.SignOut {
    font-size: var(--sm);
    color: brown !important;
}

.MobileMenu ul:nth-child(3){
    margin-bottom: 50px;

}

/*Aquí Finalizan los estilos para el menú movil*/


/* Inicia Estilos para el carrito de compras */

.Tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-right: 21px;
}

.Tittle img {

    transform: rotate(180deg);
    width: 38px;
    height: 38px;
    margin-left: 20px;
}

.Tittle img:hover {
    cursor: pointer;
}

.Tittle h1 {
    text-align: center;
    font-size: var(--lg);
    margin-bottom: 20px;
}

.ShoppingCar {
    width: 410px;
    box-sizing: border-box;
    position: absolute;
    right: 2px;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5%;
    background: var(--white);
    

}

.ShoppingCarContainer {

    margin-top: 0px;
    padding: 6px;
    width:95%;
    height: 500px;
    border: 1px solid black;
    max-height: 500px; /* altura máxima que deseas definir */
    overflow: auto; /* agregar scroll cuando se alcance la altura máxima */
   
    background: var(--white);
    

}

.ShoppingCards p:nth-child(2) {
    color: rgb(162, 51, 51);
}

.ShoppingCards p:nth-child(3) {
    font-size: var(--md);
    font-weight: bolder;
}

.ShoppingCards {

    margin-top: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
    /*Centrar verticalmente*/
    place-items: center;
    /*Centrar horizontalmente*/
}

.ShoppingCards figure .productIMG {
    width: 100px;
    height: 70px;
    border-radius: 15px;
}

.ShoppingCards figure {
    margin: 0%;
}

.CloseIMG:hover {
    cursor: pointer;
}

.CloseIMG {
    width: 27px;
    height: 27px;
}

.MyOrderInfo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 16px;

    padding: 0px 20px 0px 20px;
    margin-top: 6px;

    background-color: var(--text-input-field);
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;

    align-items: center;

}


.MyOrderInfo p:nth-child(1) {

    font-size: var(--lg);
    color: brown;
    font-weight: bolder;

}

.MyOrderInfo p:nth-child(2) {

    font-size: var(--lg);
    color: black;
    font-weight: bolder;

}

.PrimaryButton {

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;

    border-radius: 8px;
    border: none;

    color: rgb(246, 236, 236);
    font-weight: bolder;
    font-size: var(--md);
    background-color: blueviolet;

    cursor: pointer;
}

/* Finaliza Estilos Para carrito de compras */

/*Inicia la parte de los produbtos(InitialPage)*/
.CardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    place-content: center;
    margin-top: 20px;
    gap: 10px;
    align-items: center;

    
}

.ProductCard {
    width: 250px;
    border: 1px dashed black;
    padding: 10px;
    border-radius: 10%;

}

.ProductCard > img{
    width: 100%;
    border-radius: 20px;
    object-fit: cover; /*PAra que no se deforme la imagen con los nuevos width*/
    cursor: pointer;
}

.ProductInfo{
    display: flex;
    justify-content: space-between;/*Para que queden uno al lado del otro*/
    align-items: center;
}

.ProductCard .ProductInfo figure img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.ProductInfo figure {
    margin-right: 5%;
    cursor: pointer;
}

.ProductInfo p:nth-child(1){

    margin-bottom: 4px;
    font-weight: bolder;
    font-size: var(--lg);
    color: #000000;
}
.ProductInfo p:nth-child(2){

    margin-top: 1px;
    font-weight: bolder;
    font-size: var(--sm);
    color:brown;
}

/*Finaliza la parte de los productos(InitialPage*/

/* Inician los estilos para el product detail*/

.ProductDetail {
    position: absolute;
    box-sizing: border-box;
    width: 400px;
    border: 1px solid blue;
    border-radius: 5%;
    padding: 9px;
    right: 4px;
    top: 123px;
    background: var(--white);

}

.TittleProductDetail{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.TittleProductDetail img{

    transform: rotate(180deg);
    width: 38px;
    height: 38px;
    margin-left: 0px;
}

.TittleProductDetail img:hover, .TittleProductDetail h1:hover{
    cursor: pointer;
}

.TittleProductDetail h1{
    text-align: center;
    font-size: var(--sm);
    margin-bottom: 17px;
}


.ProductDetailImgProduct{
    width: 100%;
    border-radius: 5%;
}



.PrimaryButton{

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4px 0px 4px 14px;
    height: 40px;
    width: 90%;

    border-radius: 8px;
    border: none;

    color:rgb(246, 236, 236) ;
    font-weight: bolder;
    background-color: blueviolet;

    cursor: pointer;
}

.ProductInfoProductDEtal{
    margin-left: 1px;
}

.ProductInfoProductDEtal p:nth-child(1){

    text-align: left;
    font-weight: bolder;
    font-size: var(--lg);
}

.ProductInfoProductDEtal p:nth-child(2){
    text-align: left;
    font-size: var(--md);
}

.ProductInfoProductDEtal p:nth-child(3){
    font-size: var(--sm);
}

.PrimaryButton img{
    width: 30px;
    height: 30px;
    padding: 10px;

}


/* Finalizan los estilos para el product detail*/



/*Inicia Esto es parte de los @media de todos los modulos*/
@media (max-width: 640px) {


    .MenuIcon{
        display: block;
        width: 30px;
        height: 30px;
    }

    .NavBarLeft ul{
        display: none;
    }
   
    .NavBarRight .NavBarEmail{
        display: none;
    }

    /*Esto para Que el menu desktop no se muestre en mobile
     una vez se procese con JS*/
    .DesktopMenucontainer{
        display: none;
    }

    /*Esto es para el carrito de compras
        .Tittle {
            display: none;
        }
        quiero la opcion de cerrar el carrito de ocmpras desde mobile
    */

    /*Esto hace parte de la lista de productos (InitialPAge*/

    .CardsContainer{
        grid-template-columns: repeat(auto-fill, 155px); /*PAra que cada celdita de un producto se ajuste automáticamente al anchos de la pestaña*/   
        gap: 20px;
    }
    .ProductCard {
        width: 150px;
        border: 1px dashed black;
        padding: 2px;
    }
    .ProductCard > img{
        width: 100%;
        border-radius: 20px;
        object-fit: cover; /*PAra que no se deforme la imagen con los nuevos width*/
        
    }
    .ProductInfo figure {
        margin-right:0%;
    }

    /*Fin Esto hace parte de la lista de productos (InitialPAge)*/

    /*Esto es para el carrito de compras Y su responsive en mobile*/
    .ShoppingCar{
        width:99%;
        margin: 0px;
        padding: 10px;
    }
    .ShoppingCarContainer{
        width: 98%;
        max-height: none; /* altura máxima que deseas definir */
        overflow: hidden; /* agregar scroll cuando se alcance la altura máxima */
        border: none;
   
    }
    /*Fin Esto es para el carrito de compras*/

    /* Esto hace parte de los detalles de producto*/
    .ProductDetail img:nth-child(2){
        width: 100%;
    }

    .ProductDetail{
        width: 98%; /*Un responsive bonito */
        padding: 15px;
        right: 4px;
    }
    /* Fin hace parte de los detalles de producto*/


}

@media (min-width: 641px) {
    /*Esto para Que el menu mobile no se muestre en desktop
     una vez se procese con JS*/
    .MobileMenu{
        display: none;
    }
}
/*Finaliza Esto es parte de la barra de nav para modo Desktop y movil*/
